<section id="dashboard-view" class="view">

  <!-- Header -->
  <nav class="ui inverted large stackable compact menu">
    <a class="item">
      <i class="plus icon"></i> Add new Project
    </a>

    <h1>JIRA Controlling</h1>

    <div class="right menu">
      <a class="item">
        <i class="sign out icon"></i> Sign out
      </a>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">

    <h1>DashBoard</h1>
    <a href="#login" class="btn btn-default">login</a>
    <a href="#dashboard" class="btn btn-default">dashboard</a>

  </div>
</section>