<section id="dashboard-view" class="view">

  <!-- Header -->
  <nav class="ui inverted large stackable compact menu">
    <a class="item" href="#form">
      <i class="plus icon"></i> Add
    </a>

    <h1>JIRA Controlling</h1>

    <div class="right menu">
      <a class="item" href="#login">
        <i class="sign out icon"></i> Sign out
      </a>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">

      <ul class="projects">
        {{#each projects}}
        <li>{{this}}
          bubu
        </li>
        {{/each}}
      </ul>


    <div class="ui icon message">
      <i class="info circle icon"></i>
      <div class="content">
        <div class="header">
          No project registered yet!
        </div>
        <p>Please add a new project to enter the current controlling</p>
      </div>
    </div>

  </div>
</section>