<section id="project-detail-view" class="view">

  <!-- Header -->
  <nav class="ui inverted large stackable compact menu">
    <a class="item" href="#/dashboard">
      <i class="chevron left icon"></i> Back
    </a>

    <h1>{{title}}</h1>

    <div class="right menu">
      <div class="ui dropdown item graph-select">
        <i class="line chart icon"></i>
        <span class="selected-graph-text">...Loading</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" data-graph="resources">Resources</a>
          <a class="item" data-graph="efficiency">Efficiency</a>
          <a class="item" data-graph="team">Team</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">

    <!-- Graph -->
    <section class="ui segment graph">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>
      <canvas id="graph-container" width="800px" height="200px"></canvas>
    </section>

    <!-- Table -->
    <section class="ui segment table">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th colspan="3">
              Git Repository
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing">
              <i class="folder icon"></i> node_modules
            </td>
            <td>Initial commit</td>
            <td class="right aligned collapsing">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <i class="folder icon"></i> test
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <i class="folder icon"></i> build
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <i class="file outline icon"></i> package.json
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <i class="file outline icon"></i> Gruntfile.js
            </td>
            <td>Initial commit</td>
            <td class="right aligned">10 hours ago</td>
          </tr>
        </tbody>
      </table>
    </section>

  </div>
</section>