

<tr>
    <td class="collapsing">{{displayName}}</td>
    <td>
        <div class="ui indicating progress" id="progress">
            <div class="bar">
                <div class="progress">{{relWorkload}}</div>
            </div>
            <div class="label">Funding</div>
        </div>
    </td>
    <td class="right aligned collapsing">{{hours}}h</td>
    <td class="right aligned collapsing">{{difference}}h</td>
</tr>

<script data-relValue="relativeWorkload">{{hours}}

$('#progress').progress({
    percent: 13
});
</script>